



#opsname_cart{
	left: 388px;
	top: 568px;
}
#opsname_login {
	left: 22px;
	top: 109px;
}

#opsname_hesper {
	left: 27px;
	top: 458px;
}

#opsname_shopsystem {
	left: 390px;
	top: 10px;
}

#opsname_tf_tm {
	left: 651px;
	top: 180px;
}

#opsname_detail{
	left: 345px;
	top: 282px;
}

#opsname_tf_buy{
	left: 642px;
	top: 486px;
}
#opsname_itemcenter{
	left: 854px;
	top: 10px;
}

#opsname_tradeplatform{
	left: 1015px;
	top: 177px;
}
#opsname_shopcenter {
	left: 1026px;
	top: 360px;
}
#opsname_uicfinal {
	left: 814px;
	top: 651px;
}


#opsname_ump {
	left:1011px;
	top:538px;
}
._jsPlumb_connector {
	z-index: 4;
}

._jsPlumb_endpoint {
	z-index: 5;
}

._jsPlumb_overlay {
	z-index: 6;
}
.keywindow {
	border: 2px solid #346789;
	width: 100px;
	height: 70px;
	z-index: 20;
	position: absolute;
	font-size: 0.8em;
	word-break:break-all;
	/*margin:1em;*/
}



#opsname_tmallsell{
	left: 388px;
	top: 568px;
}
#opsname_malllist {
	left: 22px;
	top: 109px;
}

#opsname_wlb {
	left: 27px;
	top: 458px;
}

#opsname_tmallbuy {
	left: 390px;
	top: 10px;
}

#opsname_malldetail {
	left: 651px;
	top: 180px;
}

#opsname_wlbexternal{
	left: 345px;
	top: 282px;
}

#opsname_memberprofile{
	left: 854px;
	top: 10px;
}

#opsname_pointcenter {
	left: 1026px;
	top: 360px;
}
#opsname_tmallpromotion{
	left: 814px;
	top: 651px;
}


#opsname_sic {
	left:1011px;
	top:538px;
}


