@CHARSET "UTF-8";

#content{
	width:1200px;
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td,span {
	margin:0;
	padding:0;
}
body{
	margin: 0px;
}

.left-menu {
	display: inline;
	float: left;
	background:none repeat scroll 0 0 #F6F6F6; 
	margin-right: 20px;
	width:200px;
	-moz-border-radius:4px 4px 4px 4px;
}

.left-menu a{
	text-decoration: none;
	color:#000000;
}
.left-menu .treeview ul {
	background-color:#F6F6F6;
}

.right-conent {
	display: inline;
	position: relative;
}
.input-area{
	padding-top:10px;
	width: 800px;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}